*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.switch{


    position: absolute;
    top:13vh;
    right: 20px;
    display: inline-block;
    width: 70px;
    height: 30px;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 2rem;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 2rem;
    

    background-color: transparent;

}

.check{
    visibility: hidden;
}

.slider::before{
    position: absolute;
    content: "";
    width: 35px;
    height: 28px;
    background-color: rgb(117, 134, 134); /*switc color*/
    color: white;  /* icon color */
    text-align: center;
    line-height: 35px;
    border-radius: 2rem;

    transition: 0.5s;
}


.check:checked + .slider::before{
    transform: translateX(35px);
    background-color: rgb(198, 194, 194);
    

}


.check:not(checked) + .slider::before{

    background-color: rgb(41, 61, 72);
}

:root{
    --text-color: white;
    --box-color: rgb(41, 61, 72);
    --back-color: #3f667d;


}

.dark-theme{
    --text-color: black;
    --box-color: rgb(162, 199, 220);
    --back-color:  #6eb5de;
}



body{
    transition: 0.5s;
    background-color: var(--back-color);
    height: 100vh;
    width: 100vw;
    /* color: var(--text-color); */
}



.banner{
    transition: 0.5s;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content:space-between;
}



.nav{

    height: 10vh;
    width: 10vw;
    color: var(--text-color);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
/* 
    border: 1px solid black; */
}

.link{
    color: var(--text-color);
}

.options{
    position: relative;
    left: 20vw;
    width: 45vw;
    
    justify-content: space-around;
    
}

.options ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    
    position: relative;
    color: var(--text-color);

    
}

.opt::after{
    content: "";
    height: 3px;
     width: 0%;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

    background-color: var(--text-color);
}

.options ul li:hover::after{
    width: 100%;
}

.options ul li a{
    text-decoration: none;
    /* color: black; */
}



.form-box{
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-box form{
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 5vh;
    width: 100%;
}

.input-box{
    /* transform:translateX(150%); */
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 5vh;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid var(--text-color);
    
}

.input-box label{
    color: var(--text-color);
    position: absolute;
    top: -5px;
    left: 10px;

    font-size: 20px;

    font-weight: 600;
    pointer-events: none;
    transition: 0.5s;
    
}

.input-box  input{
    background: transparent;
    position: absolute;
    left: 0.7vw;
    bottom: -1.2vh;

    width: 100%;
    height: 5vh;

    font-size: 20px;
    color: var(--text-color);

    border: none;
    outline: none;

    transition: 0.5s;
}




.button-box{
    /* width: 70px; */
    justify-content: center;
    display: flex;

    padding-top: 2vh;
}

#submit-button{
    width: 8vw;
    height: 5vh;
    font-size: 20px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);

    transition: 0.5s;
}

#submit-button:hover{
    background-color: var(--box-color);
    border: transparent;
}

table {

    /* overflow: hidden; */
    border-collapse: collapse;
    
    
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
  }

th, td {

    border: 1px solid var(--text-color);

    background-color: var(--box-color);
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;

    color: var(--text-color);
}

td {
    background-color: var(--back-color);
}