<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./toogle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./singin.css') }}">
    
</head>
<body>
   
    <label class="switch" >
        <input class="check" type="checkbox" onclick="switch_open()" >
        <span class="slider" ></span>
    </label>

<div id="main">
    <h1>Sign In</h1>


    <form id="container" action="/signin" method="Post">
        <label for=""> User Name: </label><input class="txt" id="kadi" name="kadi" type="text"><br>
        <label for="">Password: </label><input class="txt"  minlength="8"  id="pas" name="pas" type="text"><br>
        <nav>
            <input class="btn" type="submit" value="Sign In"><br>
        </nav>
    </form>
    <span id="uyari"></span>
    
    <p id="aa">Do you not have an account? <a href="{{url_for('signup')}}">Sign Up</a></p>

</div>

<script src="{{ url_for('static', filename='./toogle.js') }}"></script>

</body>
</html> 