*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root{
    --text-color: white;
    --box-color: rgb(41, 61, 72);
    --back-color: #3f667d;



}

.dark-theme{
    --text-color: black;
    --box-color: rgb(162, 199, 220);
    --back-color:  #6eb5de;
}

a{
    text-decoration: none;
}

.banner{

    display: flex;
    justify-content:space-between;
    background-color: var(--box-color);

    transition: 0.5s;
}






@media screen and (min-width:920px){

    body{
        background-color: var(--back-color);
        height: 100vh;
        width: 99vw;
        /* color: var(--text-color); */
    }

    /* .back{
        transition: 0.5s;
        height: 100vh;
        width: 99vw;
        background-color: var(--back-color);

    } */


    
    
    .banner{
        height: 10vh;
        width: 99.99vw;

    }
    
    .header{
        position: absolute;
        padding-left: 1vw;
        margin-top: 2vh;
    }
    
    hr{

        margin-left: 5vh;
    
        font-size: 2vh;
    
    
        border: 3px solid var(--text-color);
        border-radius: 1vh;
    
        
    }
    
    
    .nav{
    
        height: 10vh;
        width: 10vw;
        color: var(--text-color);
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-size: 2vh;
        font-family: Arial, Helvetica, sans-serif;

        
    
        /* border: 1px solid black; */
    }
    
    .link{
        color: var(--text-color);
    }
    
    .options{
        position: relative;
        left: 20vw;
        width: 45vw;
        
        justify-content: space-around;
        
    }
    
    .options ul li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        
        position: relative;
        color: var(--text-color);
    
        
    }
    
    .opt::after{
        content: "";
        height: 3px;
         width: 0%;
        background-color: black;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    
        background-color: var(--text-color);
    }
    
    .options ul li:hover::after{
        width: 100%;
    }
    
    .options ul li a{
        text-decoration: none;
        /* color: black; */
    }
    
    .container{
    
    
        width: 60vw;
        /* height: 50vh; */
    
        margin: 0 auto;
        margin-top: 20vh;
        display: flex;
        flex-direction: column;

    }

    .mainbox1{
        display: flex;
        flex-direction: row;

        justify-content: space-between;
    }

    .mainbox2{
        display: flex;
        flex-direction: row;

        justify-content: center;

        margin-top: 2vh;


    }
    
    .group{
        background-color: var(--box-color);
        height: 20vh;
        width: 25vw;
        margin-bottom: 2vh;
        color: var(--text-color);
        transition: 0.5s;

        border-radius: 2rem;
        
    }
}

@media screen and (max-width:600px){

    
body{
    background-color: var(--back-color);
    height: 100vh;
    width: 100vw;
    /* color: var(--text-color); */
}
    .banner{
        height: 20vh;
        width: 100vw;

    }

    .header{
        position: absolute;
        padding-left: 2vw;
        margin-top: 2vw;

        font-size: 1.2rem;
    }
    
    .nav{
    
        height: 10vh;
        text-align: center;


        width: 10vw;
        color: var(--text-color);
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-size: 2vh;
        font-family: Arial, Helvetica, sans-serif;
    
        /* border: 1px solid black; */
    }

    .userm{
        position: relative;
        right: 5vw;
    }

    .logo{
        position: relative;
        left: 5vw;
        
    }

    hr{

        margin-left: 2vh;
    
        font-size: 2vh;
    
    
        border: 3px solid var(--text-color);
        border-radius: 1vh;
    
        
    }

    .link{
        color: var(--text-color);
    }

    .options{
        position: absolute;
        right: 0px;


        top: 10vh;
        width: 100vw;
        
        justify-content: space-around;
        
    }

    .options ul li{
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        
        position: relative;
        color: var(--text-color);
    
        
    }
    
    .opt::after{
        content: "";
        height: 3px;
         width: 0%;
        background-color: black;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    
        background-color: var(--text-color);
    }
    
    .options ul li:hover::after{
        width: 100%;
    }
    
    .options ul li a{
        text-decoration: none;
        /* color: black; */
    }

    .container{
    
    
        width: 90%;
        /* height: 50vh; */
    
        margin: 0 auto;
        margin-top: 8vh;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
    
    .group{
        background-color: var(--box-color);
        height: 20vh;
        margin-bottom: 2vh;
        color: var(--text-color);
        transition: 0.5s;

        border-radius: 2rem;
        
    }
}

@media screen and (min-width:601px ) and (max-width:919px) {
    body{
        background-color: var(--back-color);
        height: 100vh;
        width: 100vw;
        /* color: var(--text-color); */
    }
    
    
    .banner{
        height: 20vh;
        width: 100vw;

    }
    
    .header{
        position: absolute;
        padding-left: 2vw;
        margin-top: 2vw;
    }
    
    hr{

        margin-left: 2vh;
    
        font-size: 2vh;
    
    
        border: 3px solid var(--text-color);
        border-radius: 1vh;
    
        
    }

    


    
    
    .nav{
    
        height: 10vh;
        width: 10vw;
        color: var(--text-color);
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-size: 2vh;
        font-family: Arial, Helvetica, sans-serif;
    
        /* border: 1px solid black; */
    }

    .userm{
        width:110px;
        position: relative;
        left: -10px;
    }

    .logo{
        position: relative;
        right: -20px;
    }
    
    .link{
        color: var(--text-color);
    }
    
    .options{
        position: absolute;
        right: 0px;


        top: 10vh;
        width: 100vw;
        
        justify-content: space-around;
        
    }
    
    .options ul li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        
        position: relative;
        color: var(--text-color);
    
        
    }
    
    .opt::after{
        content: "";
        height: 3px;
         width: 0%;
        background-color: black;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    
        background-color: var(--text-color);
    }
    
    .options ul li:hover::after{
        width: 100%;
    }
    
    .options ul li a{
        text-decoration: none;
        /* color: black; */
    }
    
    .container{
    
    
        width: 90%;
        /* height: 50vh; */
    
        margin: 0 auto;
        margin-top: 8vh;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
    
    .group{
        background-color: var(--box-color);
        height: 20vh;
        margin-bottom: 2vh;
        color: var(--text-color);
        transition: 0.5s;
        border-radius: 2rem;
    }
}