<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./UI.css') }}">
</head>
<body>
    <div  id="main_box" class="descrp">
        <img src="{{ url_for('static', filename='./logo.jpg') }}" alt="">
        <div class="parag">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ab dolorem rem dignissimos, velit repellat reiciendis quam enim excepturi inventore ipsa beatae qui iure iste itaque voluptatibus similique nesciunt debitis eaque, laudantium atque illo voluptatem obcaecati sunt. Impedit, similique vel expedita labore iste provident, doloribus cumque deserunt est minus accusantium.</p>
        </div>
        <div class="button-container">
            <input onclick="drawer_mini('up')" class="drawer_btn" type="submit" value="Sign Up">

        </div>
    </div>
    

    <div  id="in" class="container"  >
        
        <form  action="/signin" method="Post">
            <div  class="box">
                <div class="input-container">
                    <h1>Sign In</h1>
                    
                    <div class="input-box">
                        <label for="">User Name</label>
                        <input id="kadi" name="kadi" class="imp" type="text" >
                    </div>
                    <div class="input-box">
                        <label for="">Password</label>
                        <input  minlength="8"  id="pas" name="pas" class= "imp" type="password" >
                        <img onclick="pasw_vision('ipas')" id="icon_in" src="{{ url_for('static', filename='./eyevisible.png') }}" alt=""  style="height: 100%; z-index: 2; position: absolute; right: 5px;"   >
                    </div>
    
                    <input class="btn" type="submit" value="Lorem">
                    <p  >Do you not have an account?</p><div class="anchor">
                        <a onclick="drawer()" >Sign Up.</a>
                    </div> 
                    
                </div>
    
                
            </div>
        </form>
        
    </div>

    <div  id="up" class="container"  >
        
        <form  action="/signup" method="Post">
            <div  class="box">
                <div class="input-container">
                    <h1>Sign Up</h1>
                    <div class="input-box">
                        <label for="">User Name</label>
                        <input id="uName" name="uName" class="imp" type="text" >
                        
                    </div>
                    <div class="input-box">
                        <label for="">Password</label>
                        <input  minlength="8"  id="uPas" name="uPas" class= "imp" type="password">
                        <img onclick="pasw_vision('upas')"  id="icon_up" src="{{ url_for('static', filename='./eyevisible.png') }}" alt=""  style="height: 100%; z-index: 2; position: absolute; right: 5px; "    >
                    </div>
    
                    <input class="btn" type="submit" value="Lorem">
                    <p>Do you have an account?</p><div class="anchor">
                        <a onclick="drawer()" >Sign In.</a>
                    </div> 
                    
                </div>
            </div>      
        </form>
    </div>



   <script src="{{ url_for('static', filename='./UI.js') }}"></script>
</body>
</html>